/* body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto 1fr;
    grid-area: 
    "side head"
    "pict pict"
    "link link"
    "text text"
    ;
} */
header {
    display: flex;
    align-items: center;
}
.overskrift {
    font-size: 8rem;
    text-align: center;
    color: #040012;
}

.linkeoverskrift {
    font-size: 5rem;
    text-align: center; 
    color: #040012; 
}

.text-overskrift {
    font-size: 5rem;
    text-align: center;  
    color: #130f0d; 
}

p {
    font-size: 2rem;
    text-align: center; 
    color: #040012;
    line-height: 1,5rem;    
}

.link {    
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

body {
    float: left;
    background-color: #D4C2AD; ;
}


.Link-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bilde-ved-overskriften {
    text-align: center;
    justify-content: center;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}



.dark-mode {
    transition: 500ms;
    background-color: #000;
    color: white;
}

.link-button {
    background-color: #242100; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
}
button{
    height: 50px;
}


#innstDialog {
width: 200px;
}

dialog {
    position: relative;   
    margin: auto;
    width: 500px;
    height: 300px;
    padding: 1rem;
    border-radius: 0.5rem;
 }

 dialog::backdrop {
    background-color: black;
   opacity: 0.4;
 }

 .innstbilder {
    width: 100px;
    height: 100px;
}

.bildelink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin-top: 10px;
    
}
 
   

/* Color Theme Swatches in Hex */
.Italian-1-hex { color: #D4C2AD; }
.Italian-2-hex { color: #D7A184; }
.Italian-3-hex { color: #EFDFCC; }
.Italian-4-hex { color: #BA8E7A; }
.Italian-5-hex { color: #66796B; }








